{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coming Soon</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b6c32b21c8.js"
      crossorigin="anonymous"
    ></script>
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="left-column">
     {%for msg in messages%}
     {%if msg.tags == 'success' %}
     <div class="alert alert-success" role="alert">
      {{msg}}
    </div>
    {%else%}
    <div class="alert alert-warning" role="alert">
     <p>Invalid Data. Try again please.</p>
    </div>
     {%endif%}
    
      {%endfor%}
    </div>

    <div class="right-column">
      <div class="logo-wrapper">
        <img
          class="logo-img"
          src="{% static 'logo3.png'%}"
          alt="Charz Grill Logo"
        />
      </div>

      <div class="member-card">
        <div class="icon-wrapper">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="card-text">
          <h2>{{members}}</h2>
        </div>
      </div> 

      <div class="text-wrapper">
        <h1 class="title-header">
          You're the first!
        </h1>
        <p class="desc-text">
          Get early access to the exclusive breakfast club.<br/> More power to choose when and what to have for breakfast.
          You have never had so much control of your day!
        </p>

        <button class="modal-btn">GET ON THE LIST<button>
      </div>
    </div>

    <div class="modal-bg">
      <div class="form-wrapper">
          <form class="form" method="POST">
              {% csrf_token %}
              <fieldset class="field-group">
                  <legend>
                      Join Now
                  </legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="btn-wrapper">
                  <button class="btn-submit" type="submit">JOIN NOW</button>
              </div>
          <span class="modal-close"><i class="fa fa-window-close" aria-hidden="true"></i></span
      </form>
  </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    %%
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'index.js' %}"></script>
</html>
